<table  style="background-color:#00FF00">
   <tr>
      <td> Amount </td>
      <td> <input type="text" name="amount"></td>
   <tr>
   
   <tr>
      <td> Tenure </td>
      <td> <input type="text" name="tenure"></td>
   <tr>
   
   <tr>
      <td> Rate of intrest </td>
      <td> <input type="text" name="roi"></td>
   <tr>
   
  <tr>
      <td>  </td>
      <td> <input type="submit" value="submit"></td>
   <tr>
  </table>
  <P>           </P>
<table style="background-color:rgb(25, 0, 255)">
   <tr>
       <td> Emi </td>
       <td> <input type="text" name="loanId"></td>
    <tr>
  
   
   </table>